<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCxU0HUrfjOzmTg8UBJhOnSPNTMoDTYr0</string>
	<key>GCM_SENDER_ID</key>
	<string>279374364649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.bysales</string>
	<key>PROJECT_ID</key>
	<string>bybd-7dcd4</string>
	<key>STORAGE_BUCKET</key>
	<string>bybd-7dcd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279374364649:ios:8dbb0f5af75a97a913d578</string>
</dict>
</plist>